body{
    background-color: rgb(50, 44, 44);
    text-align: center ;
    color: peru;
}
.container{
 margin: auto;
 width: 70%;

}
.dice{
   display: inline-block;
   padding: 3%;
}

h1{
   font-size: 8rem;
   font-family: 'Black Ops One', cursive;
   text-shadow: 2px 2px 8px #FF0000;


}

P{
   font-family: 'Gloria Hallelujah', cursive; 
   font-size: 2rem;
   margin-top: 3%;
}

img{
   width: 80%;

}

footer{
   text-align: center;
   color: wheat;
   font-size: 1px;
   
}